.container-list-last-events{
    padding: 7px 0;
    background:#000000;

    .container-bg{
        background:#000000;
    }

    .header{
        text-align: center;
        color:#ffffff;
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 3.125rem;
        text-transform: uppercase;
    
    }
}